
@{
    ViewBag.Title = "BlogDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>BlogDetail</h2>

<h2> Christmas, Stay Warm – Saigon Charity</h2>

<div id="post" class="row post-24117 post type-post status-publish format-standard has-post-thumbnail hentry category-events-announcements">
    <div class="col-xs-12 col-md-12 breadcrumb_container">
        <ol class="breadcrumb">
            <li><a href="http://localhost:53887/Home/Index">Home</a></li>
            <li><a href="http://localhost:53887/User/News">News</a></li>
            <li class="active">Christmas, Stay Warm – Saigon Charity Tour</li>
        </ol>
    </div>
    @*<div class=" col-md-9 rightmargin single_width_blog">*@

    @*<span class="entry-title listing_loader_title">Your search results</span>

        <div class="spinner" id="listing_loader">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
        </div>*@

    @*<div id="listing_ajax_container">

        </div>*@

    <h1 class="entry-title single-title">Christmas, Stay Warm – Saigon Charity Tour</h1>

    <div class="meta-info">
        <div class="meta-element"> Posted by Ngan Nguyen on December 20, 2017</div>
        <div class="meta-element"> <span class="meta-separator"> | </span><i class="fa fa-file-o"></i> <a href="https://placeinsaigon.com/category/events-announcements/">News</a></div>
        <div class="meta-element"> <span class="meta-separator"> | </span><i class="fa fa-comment-o"></i> 0   </div>


        <div class="prop_social_single">

            <a href="http://www.facebook.com/sharer.php?u=https://placeinsaigon.com/christmas-stay-warm-saigon-charity-tour/&amp;t=Christmas%2C+Stay+Warm+%26%238211%3B+Saigon+Charity+Tour" target="_blank" class="share_facebook"><i class="fa fa-facebook fa-2"></i></a>
            <a href="http://twitter.com/home?status=Christmas%2C+Stay+Warm+%26%238211%3B+Saigon+Charity+Tour+https%3A%2F%2Fplaceinsaigon.com%2Fchristmas-stay-warm-saigon-charity-tour%2F" class="share_tweet" target="_blank"><i class="fa fa-twitter fa-2"></i></a>
            <a href="https://plus.google.com/share?url=https://placeinsaigon.com/christmas-stay-warm-saigon-charity-tour/" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;" target="_blank" class="share_google"><i class="fa fa-google-plus fa-2"></i></a>
            <a href="http://pinterest.com/pin/create/button/?url=https://placeinsaigon.com/christmas-stay-warm-saigon-charity-tour/&amp;media=https://placeinsaigon.com/wp-content/uploads/2017/11/24058755_10214380954868137_8596899557782978041_n.jpg&amp;description=Christmas%2C+Stay+Warm+%26%238211%3B+Saigon+Charity+Tour" target="_blank" class="share_pinterest"> <i class="fa fa-pinterest fa-2"></i> </a>


        </div>

    </div>


    <div class="single-content single-blog">



        <img src="~/img/News/Noel.jpg" />
        <p>
            <em>For some people, charity is about giving. But for the likes of you, it is a way of living. </em>
        </p>
        <p>
            It has been 4 years since Saigon Charity, which Place In Saigon is the main sponsor of, was founded.
            There are thousands of roads we have gone on, thousands of people we have given our love to, thousands of days and nights we have been together to make our life worth living and more beautiful.
            Four years seems neither long nor short, we do things neither too much nor too little, but we do it from our soul.
            Saigon Charity would like to take this opportunity to say thank all of you for your donation, support always.
        </p>
        <p>
            <img src="~/img/News/giánginh.jpg" />
            <img src="~/img/News/nucuoitreem.jpg" />
        </p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>&nbsp;</p>
        <p>Winter has come to Ta Nang, Duc Trong, Lam Dong. When this remote area gets cold, where the fields are dry, people get a bad harvest, plant life and animal life suffers. There are hundreds of children and elderly there suffer the bad weather with poor living conditions in this highland. They may not have enough warm clothes, enough food, necessaries,…</p>
        <p>This opportunity is for us to help those people desperately in need of extra support during this winter. There are about 50 households in need there (The file is attached below). As a brutal winter approaches, we need you now more than ever. This is still a crisis but we are not powerless. The contribution may be:</p>
        <p><em>Rice, sugar, milk, cooking oil, books, notebooks, pens, warm clothes, blankets, cash,… </em></p>
        <p>Please kindly bring the contribution to:</p>
        <p><em>– Directly at Place In Saigon Building Apartment 644 Truong Sa, ward 17, Phu Nhuan district, HCMC.</em></p>
        <p><em>-Or transfer to:</em></p>
        <p><em>Le Huu Phuoc (Bryan Le – Founder)</em></p>
        <p><em>Vietcombank – Ben Thanh Branch: 0331003920416</em></p>
        <p><em>Hoang Thi Thu Thuy</em></p>
        <p><em>Vpbank – Ben Thanh Branch: 62559087 </em></p>
        <p><em>(With note your name and mobile phone)</em><em>&nbsp;</em></p>
        <p><em>All of your contribute will be updated in Saigon Charity group on Facebook: </em><em>https://www.facebook.com/groups/saigoncharity/</em></p>
        <p>No act of compassion is too small.&nbsp;Please join us from now by reply this email or directly call: 096 8888 327 (Ms. Rachel). You may not realize this but you are the real life Superman in the lives of all the people you have helped. Thanks for donation and volunteering.</p>
        <p>&nbsp;</p>
        <p>Saigon Charity</p>
        <p>Your life we care</p>
        <p>&nbsp;</p>

    </div>


    <!-- #related posts start-->
    <!-- #end related posts -->
    <!-- #comments start-->
    <!-- end comments -->

</div>

<!-- begin sidebar -->
<div class="clearfix visible-xs"></div>



<!-- end sidebar -->
</div>

