
@{
    ViewBag.Title = "News";
    //Layout = "~/Views/Shared/Layout/User/top-menu.cshtml";
}



<div class="container content_wrapper">


    <div class="row">
        <div class="col-xs-12 col-md-12 breadcrumb_container">
            <ol class="breadcrumb">
                <li><a href="http://localhost:53887/Home/Index">Home</a></li>
                <li class="active">News</li>
            </ol>
     </div>   
            <h1 class="text-center">News</h1>
            <div class="single-content"></div>

            <div class="blog_list_wrapper">
                <div class="col-md-4  listing_wrapper blog2v">
                    <div class="property_listing" @*data-link="http://localhost:53887/User/NewDetailChristmas"*@ style="height: 420px;">
                        <div class="blog_unit_image">
                            <img width="525" height="328" src="~/img/News/giánginh.jpg" class="lazyload img-responsive wp-post-image"/>
                        </div>

                        <h4>
                            <a href="@Url.Action("blogDetail", "User")" >
                                Christmas, Stay Warm – Saigon Charity ...
                            </a>
                        </h4>

                        <div class="blog_unit_meta">
                            Dec 20,2017
                        </div>

                        <div class="listing_details the_grid_view">
                            For some people, charity is about giving. But for the likes of you, it is a way of living. It has been 4 years sinc <a href="https://placeinsaigon.com/christmas-stay-warm-saigon-charity-tour/" class="unit_more_x">[more]</a>
                        </div>
                        <a class="read_more" href="~/User/NewsDetailChristmas"> Continue Reading<i class="fa fa-angle-right"></i> </a>

                    </div>
                </div>

                <div class="col-md-4  listing_wrapper blog2v">
                    <div class="property_listing" data-link="https://placeinsaigon.com/place-saigon-cafe-place-saigon-signature/" style="height: 420px;">
                        <div class="blog_unit_image">
                            <img width="525" height="328" src="~/img/News/sữađá.png"  class="lazyload img-responsive wp-post-image" />
                        </div>

                        <h4>
                            <a href="https://placeinsaigon.com/place-saigon-cafe-place-saigon-signature/">
                                Place In Saigon Café – Place In Saigon...
                            </a>
                        </h4>

                        <div class="blog_unit_meta">
                            Nov 24, 2017
                        </div>

                        <div class="listing_details the_grid_view">
                            We guarantee our best things in our best efforts. Here’s Place In Saigon building from the ground. There is a <a href="https://placeinsaigon.com/place-saigon-cafe-place-saigon-signature/" class="unit_more_x">[more]</a>
                        </div>
                        <a class="read_more" href="https://placeinsaigon.com/place-saigon-cafe-place-saigon-signature/"> Continue Reading<i class="fa fa-angle-right"></i> </a>

                    </div>
                </div>

                <div class="col-md-4  listing_wrapper blog2v">
                    <div class="property_listing" data-link="https://placeinsaigon.com/ho-chi-minh-full-moon-dream-saigon/" style="height: 420px;">
                        <div class="blog_unit_image">
                            <img  width="525" height="328" src="~/img/News/images2571788_tet_trung_thu_dspl.jpg"  class="lazyload img-responsive wp-post-image"/>
                        </div>
                        <h4>
                            <a href="https://placeinsaigon.com/ho-chi-minh-full-moon-dream-saigon/">
                                Saigon Charity Tour – Full Moon Dream ...
                            </a>
                        </h4>

                        <div class="blog_unit_meta">
                            Nov 21, 2017
                        </div>

                        <div class="listing_details the_grid_view">
                            Rach Ong charity house
                        </div>
                        <a class="read_more" href="https://placeinsaigon.com/ho-chi-minh-full-moon-dream-saigon/"> Continue Reading<i class="fa fa-angle-right"></i> </a>

                    </div>
                </div>

                <div class="col-md-4  listing_wrapper blog2v">
                    <div class="property_listing" data-link="https://placeinsaigon.com/tet-trung-thu-mid-autumnn-festival-vietnam-place-in-saigon/" style="height: 420px;">
                        <div class="blog_unit_image">
                            <img width="525" height="328" src="~/img/News/banh-trung-thujpg.jpg" class="lazyload img-responsive wp-post-image"/>
                        </div>

                        <h4>
                            <a href="https://placeinsaigon.com/tet-trung-thu-mid-autumnn-festival-vietnam-place-in-saigon/">
                                Tet Trung Thu (Mid-Autumn Festival) in Vietn...
                            </a>
                        </h4>

                        <div class="blog_unit_meta">
                            Oct 04, 2017
                        </div>

                        <div class="listing_details the_grid_view">
                            Tet Trung Thu, as it is known in Vietnam, or the Mid-Autumn Moon Festival as we refer to it in America, is a wonder <a href="https://placeinsaigon.com/tet-trung-thu-mid-autumnn-festival-vietnam-place-in-saigon/" class="unit_more_x">[more]</a>
                        </div>

                        <a class="read_more" href="https://placeinsaigon.com/tet-trung-thu-mid-autumnn-festival-vietnam-place-in-saigon/"> Continue Reading<i class="fa fa-angle-right"></i> </a>

                    </div>
                </div>

                <div class="col-md-4  listing_wrapper blog2v">
                    <div class="property_listing" data-link="https://placeinsaigon.com/saigon-charity-ben-tre-2017/" style="height: 420px;">
                        <div class="blog_unit_image">
                            <img width="525" height="328" src="~/img/News/canh-tu-dinh-langbiang.jpg"  class="lazyload img-responsive wp-post-image" />
                        </div>

                        <h4>
                            <a href="https://placeinsaigon.com/saigon-charity-ben-tre-2017/">
                                Saigon Charity in Da Lat 2017
                            </a>
                        </h4>

                        <div class="blog_unit_meta">
                            Sep 20, 2017
                        </div>

                        <div class="listing_details the_grid_view">
                            Full Moon Dream
                        </div>
                        <a class="read_more" href="https://placeinsaigon.com/saigon-charity-ben-tre-2017/"> Continue Reading<i class="fa fa-angle-right"></i> </a>

                    </div>
                </div>

                <div class="col-md-4  listing_wrapper blog2v">
                    <div class="property_listing" data-link="https://placeinsaigon.com/vietnam-shots-north-south-will-take-breath-away/" style="height: 420px;">
                        <div class="blog_unit_image">
                            <img width="525" height="328" src="~/img/News/saigon.jpg" 
                                 class="lazyload img-responsive wp-post-image"/>
                        </div>

                        <h4>
                            <a href="https://placeinsaigon.com/vietnam-shots-north-south-will-take-breath-away/">
                                Vietnam from above: These shots from north t...
                            </a>
                        </h4>

                        <div class="blog_unit_meta">
                            Aug 30, 2017
                        </div>

                        <div class="listing_details the_grid_view">
                            An aerial tour that brings you to some iconic places around Vietnam – from photo contest ‘Vietnam from  <a href="https://placeinsaigon.com/vietnam-shots-north-south-will-take-breath-away/" class="unit_more_x">[more]</a>
                        </div>
                        <a class="read_more" href="https://placeinsaigon.com/vietnam-shots-north-south-will-take-breath-away/"> Continue Reading<i class="fa fa-angle-right"></i> </a>
                         </div>
                </div>

            </div>
            <ul class="pagination pagination_nojax"><li class="roundleft"><a href="http://localhost:53887/User/News"><i class="fa fa-angle-left"></i></a></li><li class="active"><a href="https://placeinsaigon.com/news/">1</a></li><li></li><li><a href="https://placeinsaigon.com/news/page/2/">2</a></li><li></li><li><a href="https://placeinsaigon.com/news/page/3/">3</a></li><li></li><li class="roundright"><a href="https://placeinsaigon.com/news/page/2/"><i class="fa fa-angle-right"></i></a></li><li></li></ul>
        </div><!-- end 9col container-->
        <!-- begin sidebar -->
        <div class="clearfix visible-xs"></div>
        <!-- end sidebar -->
    </div>

</div>


