@{
    Layout = "~/Views/Shared/_Layout_null.cshtml";

}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>LogIn - PPCRental</title>
    <link rel="shortcut icon" href="~/img/favicon.png" />
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel='stylesheet' href='http://themecss.com/wp/Homeland/wp-admin/load-styles.php?c=0&amp;dir=ltr&amp;load%5B%5D=dashicons,buttons,forms,l10n,login&amp;ver=4.8.3' type='text/css' media='all' />
    <meta name='robots' content='noindex,follow' />
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://www.technicalkeeda.com/js/javascripts/plugin/jquery.js"></script>
    <script type="text/javascript" src="http://www.technicalkeeda.com/js/javascripts/plugin/jquery.validate.js"></script>
</head>

<body class="login login-action-lostpassword wp-core-ui  locale-en-us">
    @{
        if (Session["user"] == null)
        {
            Session["login-status"] = 1;
            TempData["login-status"] = 0;
            Response.Redirect("~/User/Login", false);

        }
    }
    <div id="login">
        <h1><a href="~/Home/Index" title="Real Estate WordPress Theme" tabindex="-1">PPCRental</a></h1>
        <p class="message">Please enter your old password and set your new password</p>
        <form name="changePassword" id="changePassword" action="@Url.Action("Security","User")" method="post">
            <p>
                <label for="password">
                    Password:
                    <br />
                    <input type="password" name="password" id="password" class="input" value="" size="20" />
                </label>
            </p>
            <p>
                <label for="newPassword">
                    New Password:
                    <br />
                    <input type="password" name="newPassword" id="newPassword" class="input" value="" size="20" />
                </label>
            </p>
            <p>
                <label for="rePassword">
                    Confirm Password:
                    <br />
                    <input type="password" name="rePassword" id="rePassword" class="input" value="" size="20" />
                </label>
            </p>
            <p class="submit">
                <input type="button" name="submit" id="submit" class="button button-primary button-large" value="Set New Password"  onClick="validatePassword()" />
            </p>
        </form>
        <p id="nav">
            <a href="~/User/Login">Log in</a> | <a rel="nofollow" href="~/User/Register">Register</a>
        </p>
        <p id="backtoblog"><a href="~/Home/Index">&larr; Back to Home</a></p>
    </div>
    <link rel='stylesheet' id='homeland-custom-style-css' href='http://themecss.com/wp/Homeland/wp-content/themes/homeland/assets/css/admin.css?ver=4.8.3' type='text/css' media='all' />
    <style id='homeland-custom-style-inline-css' type='text/css'>
        body.login #login h1 a {
            background: url("../../img/logo.png") center top no-repeat transparent;
            background-size: 200px auto;
            width: 100%;
            height: 126px;
        }
        .error {
            border: 2px red solid;
        }
    </style>
    <div class="clear"></div>
    <script>
        function validatePassword() {
            var validator = $("#changePassword").validate({
                rules: {
                    password: "required",
                    newPassword: "required",
                    rePassword: {
                        required: true,
                        equalTo: "#newPassword"
                    }
                },
                messages: {
                    password: " Enter Password",
                    newPassword: "Enter New Password",
                    rePassword: {
                        required: "Comfirm New Password",
                        equalTo: "#Enter Confirm Password Same as New Password"
                    }
                },
                errorLabelContainer: '.message',
                wrapper: 'li',
            });
            if (validator.form()) {
                alert('Sucess');
            }
        }
        $(function () {
            //Đăng ký sự kiện click nút btnAvaUp
            $('#submit').click(function () {
                var currentPass = $('#password').val();
                var newPass = $('#newPassword').val();
                var rePassword = $('#rePassword').val();
                //alert(newPass);
                //alert(rePassword);
            });

            $('#rePassword').keypress(function () {
                validatePassword();
                var newPass = $('#newPassword').val();
                var rePassword = $('#rePassword').val();
                
                //else {
                //    $('.message').html('error');
                //}
            });

        });
    </script>

</body>
