@{
    Layout = "~/Views/Shared/_Layout_null.cshtml";

}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Change Pass - PPCRental</title>
    <link rel="shortcut icon" href="~/img/favicon.png" />
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel='stylesheet' href='~/Content/jquery.validation.css' type='text/css' media='all' />
    <link rel='stylesheet' href='~/Content/bootstrap.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='~/Content/login-forgot-register.css' type='text/css' media='all' />

    <meta name='robots' content='noindex,follow' />
    <meta name="viewport" content="width=device-width" />
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>*@
    <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validation.js"></script>
    

</head>

<body class="login login-action-lostpassword wp-core-ui  locale-en-us">
    @{
        if (Session["user"] == null)
        {
            Session["login-status"] = "NotLogin";
            Response.Redirect("~/User/Login", false);

        }
    }
    <div id="login">
        <h1><a href="~/Home/Index" title="Real Estate WordPress Theme" tabindex="-1">PPCRental</a></h1>
       @{
           if (Session["changeStatus"] == null)
           {
            <p class="message">Please enter your old password and set your new password</p>
           }
           else
           {
               String changeMessage = Session["changeStatus"] as String;
            <p class="message">@changeMessage</p>
               Session.Remove("changeStatus");
           }

    }
        <form name="changePassword" id="changePassword" action="@Url.Action("Security","User")" method="post">
            <p class="field">
                <label for="password">
                    Password:
                    <br />
                    <input type="password" name="Password" id="password" class="input" data-validation="[NOTEMPTY]" data-validation-message="$ must not be at least empty"   data-toggle="popover"  data-content="Input your current password" />
                </label>
            </p>
            <p class="field">
                <label for="newPassword">
                    New Password:
                    <br />
                    <input type="password" name="NewPassword" id="newPassword" class="input" data-validation="[L>=6]" data-validation-message="New Password must be at least 6 characters"  data-toggle="popover" data-content="Your password must contain at least 6 characters" />
                </label>
            </p>
            <p class="field">
                <label for="rePassword">
                    Confirm Password:
                    <br />
                    <input type="password" name="rePassword" id="rePassword" class="input" data-validation="[V==NewPassword]" data-validation-message="$ does not match the new password"  data-toggle="popover" data-content="Both password must match" />
                </label>
            </p>
            
            <input type="submit" name="name" class="button button-primary button-large" value="Set New Password" />
        </form>
        <p id="nav">
            <a href="~/User/Login">Log in</a> | <a rel="nofollow" href="~/User/Register">Register</a>
        </p>
        <p id="backtoblog"><a href="~/Home/Index">&larr; Back to Home</a></p>
    </div>
    <link rel='stylesheet' id='homeland-custom-style-css' href='http://themecss.com/wp/Homeland/wp-content/themes/homeland/assets/css/admin.css?ver=4.8.3' type='text/css' media='all' />
    <style id='homeland-custom-style-inline-css' type='text/css'>
        body.login #login h1 a {
            background: url("../../img/logo.png") center top no-repeat transparent;
            background-size: 200px auto;
            width: 100%;
            height: 126px;
        } 
        .popover-content {
            padding: 10px;
            font-size: 13px;
            font-variant: small-caps;
        }
    </style>
    <div class="clear"></div>
    <script>
        $(document).ready(function () {
            //popover boostrap
            $('#changePassword [data-toggle="popover"]').popover({ trigger: 'focus', placement: 'left' });
            //validation
            
            $('#changePassword').validate({
                submitHandler: function (form) {
                    $('#changePassword').submit();
                }
            });
        });
        
    </script>
    
</body>
