
@{
    ViewBag.Title = "Active User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    //kiểm tra User-Role
    String userRole = Session["userRole"] as String;
    if (Session["user"] == null)
    {
        Session.RemoveAll();
        Session["login-status"] = "NotLogin";
        Response.Redirect("~/User/Login", false);

    }
    else if (!(userRole.Equals("Technical")))
    {
        Session.RemoveAll();
        Session["login-status"] = "WrongRole";
        Response.Redirect("~/User/Login", false);

    }
}




<h2 style="text-align: center">User Management</h2><br />

<div id="" class="container" style="background-color:burlywood;">
    
    <nav class="navbar navbar-default" style="float: left">
            <ul class="nav navbar-nav">
                <li class="active"><a>Views</a></li>
                <li><a href="@Url.Action("UserManagement_Edit", "User")">Edit</a></li>
            </ul>
    </nav>
    <select name="user_role" id="select_role" class="form-control" required="required">
        <option value="10">Tất cả</option>
        @{foreach (var item in ViewData["role"] as List<PPCRental.Models.ROLE>)
            {
                <option value="@item.id">@item.roleName</option>
            }
        }
    </select>

    <table class="table table-hover table-bordered table-striped" id="table-user" style="background-color: antiquewhite;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Password</th>
                <th>Fullname</th>
                <th>Phone</th>
                <th>Address</th>
                <th>Role</th>
                <th>Status</th>
                <th>Serect Question</th>
                <th>Answer</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script>
    //$.ajax({
    //    url: '/User/ManageUser_Views',
    //    type: "POST",
    //    data: { role_id: 10 },
    //    dataType: "json",
    //    success: function (result) {

    //        var data = [];
    //        data = convertDataToArray(result.Users);

    //        console.log(data);
    //        var table = $('#table-user').DataTable();
    //        table.destroy();
    //        table
    //            .clear()
    //            .draw();
    //        $('#table-user').DataTable({
    //            data: data,
    //            "language": {
    //                "paginate": {
    //                    "previous": "Previous ",
    //                    "next": " Next page"
    //                }
    //            }
    //        });
    //    },
    //    error: function (err) {
    //        alert(err);

    //    }
    //});

    //refactor table
    $(document).ready(function () {
        $('#table-user').DataTable({
            "ajax": {
                "url": '/User/ManageUser_Views',
                "type": "POST",
                "data": { role_id: 10 },
                "dataSrc": function (result) {
                    var data = [];
                    data = convertDataToArray(result.Users);
                    return data
                }
            }
        });
    })
    var role_id;
    $('#select_role').on('change', function () {
        role_id = $(this).find(":selected").val();
        //alert(role_id);
        $.ajax({
            url: '/User/ManageUser_Views',
            type: "POST",
            data: { role_id },
            dataType: "json",
            success: function (result) {
                //alert(result.Success);
                //console.log(result.Users);
                //$('#table-user tbody > tr').remove();

                //$.each(result.Users, function (index, value) {
                //    $('#table-user tbody').append(
                //        '<tr>'// need to change closing tag to an opening `<tr>` tag.
                //        + '<td>' + result.Users[index].ID + '</td>'
                //        + '<td>' + result.Users[index].Email + '</td>'
                //        + '<td>' + result.Users[index].Password + '</td>'
                //        + '<td>' + result.Users[index].FullName + '</td>'
                //        + '<td>' + result.Users[index].Phone + '</td>'
                //        + '<td>' + result.Users[index].Address + '</td>'
                //        + '<td>' + result.Users[index].RoleID + '</td>'
                //        + '<td>' + result.Users[index].Status + '</td>'
                //        + '<td>' + result.Users[index].question + '</td>'
                //        + '<td>' + result.Users[index].Answer + '</td>'
                //        + '</tr>');
                //});
                var data = [];
                data = convertDataToArray(result.Users);
                
                console.log(data);
                var table = $('#table-user').DataTable();
                table.destroy();
                table
                    .clear()
                    .draw();
                $('#table-user').DataTable({
                    data: data,
                    "language": {
                        "paginate": {
                            "previous": "Previous ",
                            "next": " Next page"
                        }
                    }
                });
            },
            error: function (err) {
                alert(err);

            }
        });

    });

    function convertDataToArray(data) {
        var d = [];
        for (var i = 0; i < data.length; i++) {
            var arr = $.map(data[i], function (value, index) {
                if (index == 'Password') {
                    value = '.................................';
                }

                if (index == 'RoleID') {
                    if (value == 0) {
                        value = 'Chưa có Vai trò';
                    }
                    else if (value == 1) {
                        value = 'Agency';
                    }
                    else if (value == 2) {
                        value = 'Sale';
                    }
                    else if (value == 3) {
                        value = 'Technical';
                    }
                }

                return value;
            });
            arr.splice(8, 1);
            d.push(arr);
        }
        return d;
    }

</script>
