#container {
    width: 100%;
    position: relative;
    background: #FFF;
}

    #container header.sticky-header {
        left: 0;
    }

#container-boxed,
#container-boxed-left {
    width: 1150px;
    margin: 0 auto;
    background: #FFF;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.30);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.30);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.30);
}

    #container-boxed header.sticky-header,
    #container-boxed-left header.sticky-header {
        width: 1150px;
    }

.inside {
    width: 1080px;
    margin: 0 auto;
}

.inside-fullwidth {
    padding: 0 90px;
}

.select-menu,
.single #nsu-checkbox,
.header-search,
.page-template-template-contact .plain-header-title,
.page-template-template-contact-alternate .plain-header-title,
.page-template-template-contact-alternate2 .plain-header-title {
    display: none;
}

#container header {
    width: 100%;
    background: #FFF;
    position: relative;
    z-index: 9999;
    display:block;
}

    header.sticky-header-animate {
        position: fixed;
        top: 0;
        z-index: 999999;
        border-bottom: 1px solid #E1E1E1;
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }

        header.sticky-header-animate .theme-menu ul li a,
        header.sticky-header-animate .theme-menu ul li a:link,
        header.sticky-header-animate .theme-menu ul li a:visited {
            padding: 31px 30px;
        }

        header.sticky-header-animate .header-block,
        header.sticky-header-animate .header-six .inside {
            display: none;
            -webkit-transition: all 0.4s ease-out 1s;
            -moz-transition: all 0.4s ease-out 1s;
            transition: all 0.4s ease-out 1s;
        }

        header.sticky-header-animate .logo {
            width: 130px;
            -webkit-transition: all 0.4s ease;
            -moz-transition: all 0.4s ease;
            transition: all 0.4s ease;
        }

        header.sticky-header-animate .select-menu {
            top: 27px;
        }

.header-block,
.hidden-header-image {
    border-bottom: 1px solid #E1E1E1;
}

    .header-block .inside,
    .header-six .inside,
    .header-nine .inside,
    .header-ten .inside {
        position: relative;
    }

    .header-block.header-three {
        border-bottom: 0;
        border-top: 1px solid #E1E1E1;
    }

.logo,
.header-ten .logo {
    float: left;
    width: 200px;
}

    .logo a {
        display: block;
    }

nav {
    float: right;
}

.theme-menu ul li {
    float: left;
    margin-left: 1px;
}

    .theme-menu ul li a,
    .theme-menu ul li a:link,
    .theme-menu ul li a:visited {
        padding: 51px 30px;
        display: block;
        font-weight: 700;
        font-size: 14px;
        color: #384042;
    }

        .theme-menu ul li.current-menu-item a,
        .theme-menu ul li.current-menu-ancestor a,
        .theme-menu ul li.current-menu-parent a,
        .theme-menu ul li.current_page_item a,
        .theme-menu ul li a:hover {
            background: #88C354;
            color: #FFF;
        }

.widget-column {
    float: left;
    width: 247px;
    margin-right: 30px;
    color: #7c7e83;
}

.header-six .logo,
.header-six nav,
.header-nine .logo,
.header-nine nav,
.header-ten nav {
    width: 100%;
    float: none;
    text-align: center;
}

.header-six .theme-menu > ul,
.header-nine .theme-menu > ul,
.header-ten .theme-menu > ul {
    margin: 0 auto;
    padding: 0;
    display: table;
    list-style: none;
}

.header-six .theme-menu ul li a,
.header-nine .theme-menu ul li a,
.header-ten .theme-menu ul li a {
    padding: 20px 30px;
    text-align: left;
}

.header-six nav,
.header-six .logo,
.header-nine nav,
.header-nine .logo,
.header-ten nav {
    border-top: 1px solid #E1E1E1;
}

header.sticky-header-animate .header-six .logo,
header.sticky-header-animate .header-nine .logo,
header.sticky-header-animate .header-ten .logo {
    width: auto;
}

header.sticky-header-animate .header-six .theme-menu ul li a,
header.sticky-header-animate .header-nine .theme-menu ul li a,
header.sticky-header-animate .header-ten .theme-menu ul li a {
    padding: 10px 30px;
}

.header-six .header-block {
    border-bottom: 0;
}

.add-email {
    display: inline-block;
    padding: 10px 12px;
    float: left;
    border-left: 1px solid #e1e1e1;
}

    .add-email i {
        margin-right: 10px;
    }

.header-seven nav {
    margin-top: 30px;
}

.header-seven .theme-menu ul li a,
.header-seven .theme-menu ul li a:link,
.header-seven .theme-menu ul li a:visited {
    padding: 20px 30px;
}

header.sticky-header-animate.header-seven nav {
    margin-top: 0;
}

.sliding-bar-left .inside {
    margin-left: 30px;
}

.overlay {
    background: #000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.welcome-block .inside,
.header-bg .inside,
.services-block-bg .inside,
.testimonial-block .inside,
.services-pb-block .inside,
.welcome-pb-block .inside,
.testimonial-pb-block .inside,
.partners-block .inside {
    position: relative;
    z-index: 2;
}

.plain-header-title {
    background: #f7f7f7;
    padding: 40px 0;
    border-bottom: 1px solid #e1e1e1;
}

    .plain-header-title .ptitle {
        margin-bottom: 10px;
        background: none;
        padding: 0;
    }

    .plain-header-title .subtitle label {
        background: none;
        padding: 0;
        color: #384042;
    }

.header-contact-info {
    float: right;
    margin-top: 30px;
}

.info-list {
    float: left;
    margin-left: 30px;
}

    .info-list label {
        display: inline-block;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .info-list span {
        display: block;
        color: #333;
        margin-left: 32px;
        font-size: 13px;
    }

    .info-list i {
        position: relative;
        top: 8px;
        width: 30px;
    }

.homepage-call-to-action {
    padding: 60px 0;
    background-image: url('assets/img/call-action.jpg');
    background-color: #F8F8F8;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
    position: relative;
}

    .homepage-call-to-action h4 {
        float: left;
        width: 80%;
        line-height: 30px;
        margin-bottom: 0;
        letter-spacing: 1px;
        color: #FFF;
    }

    .homepage-call-to-action a {
        float: right;
        background: #88c354;
        padding: 15px 30px;
        color: #FFF;
        font-size: 18px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 2px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
    }

.home-video-block iframe {
    width: 100%;
    margin-bottom: 0 !important;
}
/* 3.2 Transparent Header */

.transparent-header .sticky-header {
    background: #000;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    border-bottom: 1px solid #000;
}

    .transparent-header .sticky-header.sticky-header-animate {
        background: #000;
    }

.transparent-header .slider-block .slider-actions {
    top: 40% !important;
}

.transparent-header .theme-menu ul li a,
.transparent-header .theme-menu ul li a:link,
.transparent-header .theme-menu ul li a:visited {
    color: #FFF;
}

.transparent-header .header-bg .inside {
    margin-top: 130px;
}

.transparent-header #map {
    height: 700px;
}

.transparent-header .contact-alt-background {
    padding-top: 200px;
    padding-bottom: 60px;
}

.page-title-block,
.page-title-block-forum-single,
.page-title-block-default,
.page-title-block-topic-single,
.page-title-block-topic-edit,
.page-title-block-forum-search,
.page-title-block-user-profile,
.page-title-block-forum,
.page-title-block-agent,
.page-title-block-taxonomy,
.page-title-block-archive,
.page-title-block-search,
.page-title-block-attachment,
.page-title-block-error {
    background-size: cover;
    background-repeat: repeat-x;
    background-position: center;
}


/* 4. Layout Styles */

.left-container {
    float: left;
    width: 770px;
    padding: 50px 0;
    position: relative;
}

.theme-fullwidth {
    padding: 50px 0;
    position: relative;
}

.dual-container,
.dual-container .dual-property-list .grid ul li {
    width: 480px;
}

    .dual-container .dual-property-list #map-homepage {
        height: 300px;
        margin-bottom: 30px;
    }

    .dual-container .dual-property-list .property-info {
        text-align: center;
    }

.social ul li,
.advance-search-block ul li,
.agent-block ul li,
.featured-block ul li,
.widget ul li,
.agent-social ul li,
.pagination ul li,
.contact-info ul li,
.contact-form ul li,
.blog-action ul li,
.share ul li,
.comments ul li,
.comment-respond ul li,
.cat-toogles ul li,
.home-flexslider ul li,
.theme-menu ul li,
.grid ul li,
.home-thumb-flexslider ul li,
.flex-control-nav li,
.selectBox-dropdown-menu li,
.properties-flexslider ul li,
.tab-menu li,
.blog-flexslider ul li,
.agent-form ul li,
.dsidx-results li,
.featured-flexslider ul li,
.wpcf7 ul li,
.partners-list ul li,
.bbp-forums li,
.bbp-topics li,
.forums li,
#bbp-user-navigation ul li,
.portfolio-flexslider ul li,
.blog-tags li,
.blog-block ul li,
.footer-menu ul li,
.portfolio-static-images ul li,
.testimonial-flexslider ul li,
.property-static-images ul li,
.agent-grid-sidebar .agent-list ul li,
.property-amenities ul li,
.floating-share ul li {
    list-style: none;
    padding-left: 0;
    text-indent: 0;
}

.top-toggle {
    position: relative;
}

.header-widgets {
    width: 105%;
}

.sliding-bar {
    background: #171C26;
    display: none;
    padding: 30px 0 0;
    position: fixed;
    z-index: 99999999;
    width: 100%;
}

a.slide-toggle {
    position: fixed;
    right: 7px;
    top: 7px;
    padding: 2px 8px 2px 12px;
    background: #445064;
    color: #FFF;
    display: inline-block;
    z-index: 99999999;
    font-size: 11px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

    a.slide-toggle:before,
    a.slide-toggle.open:before {
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
    }

    a.slide-toggle:before {
        content: "\f067";
    }

    a.slide-toggle.open:before {
        content: "\f068";
    }

    a.slide-toggle:hover {
        background: #88C354;
    }

#homeland-loginform,
#homeland-registerform,
#homeland-lostpassword,
.login-actions,
.login-links {
    width: 420px;
    margin: 0 auto;
}

    #homeland-loginform label,
    #homeland-registerform label,
    #homeland-lostpassword label {
        display: block;
        font-size: 16px;
        margin-bottom: 15px;
    }

    #homeland-loginform input[type='text'],
    #homeland-loginform input[type='password'],
    #homeland-registerform input[type='text'],
    #homeland-registerform input[type='password'],
    #homeland-lostpassword input[type='text'],
    #homeland-lostpassword input[type='password'] {
        background: #FFF;
        border: 1px solid #e1e1e1;
        padding: 15px;
        width: 100%;
    }

    #homeland-loginform input[type='checkbox'],
    #homeland-registerform input[type='checkbox'],
    #homeland-lostpassword input[type='checkbox'] {
        margin-right: 6px;
    }

    #homeland-loginform .login-remember label {
        font-size: 12px;
    }

    #homeland-loginform .login-submit input[type='submit'],
    #homeland-registerform .login-submit input[type='submit'],
    #homeland-lostpassword .login-submit input[type='submit'] {
        width: 100%;
        font-size: 20px !important;
    }
    .wpcf7-submit,
    #submit,
    #dsidx.dsidx-details .dsidx-contact-form table input[type='button'],
    #homeland-loginform .login-submit input[type='submit'],
    #homeland-registerform .login-submit input[type='submit'],
    #homeland-lostpassword .login-submit input[type='submit'] {
        background: #fcb737;
        color: #FFF;
        font-size: 14px;
        font-weight: 700;
        padding: 13px 30px;
        display: inline-block;
        cursor: pointer;
    }
        .wpcf7-submit:hover,
        #submit:hover,
        #dsidx.dsidx-details .dsidx-contact-form table input[type='button']:hover,
        .wpdevbk button.btn:hover,
        .wpdevbk input.btn[type="submit"]:hover,
        #homeland-loginform .login-submit input[type='submit']:hover,
        #homeland-registerform .login-submit input[type='submit']:hover,
        #homeland-lostpassword .login-submit input[type='submit']:hover,
        .login-actions a:hover {
            background: #e89600;
           
        }

.login-actions {
    text-align: center;
    margin-top: 50px;
}

    .login-actions a:link,
    .login-actions a:visited {
        background: #88c354;
        padding: 4px 8px;
        margin-right: 10px;
        color: #FFF;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
    }

.login-links {
    text-align: center;
}
/*.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}*/

.floatleft {
    float: left;
}
.floatright {
    float: right;
}
#container ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}
.social ul li:first-child {
    border-left: 1px solid #E1E1E1;
}

.social ul li {
    float: left;
    border-right: 1px solid #E1E1E1;
}

    .social ul li:first-child {
        border-left: 1px solid #E1E1E1;
    }

.social-colors ul li:first-child {
    border-left: 0;
}

.social ul li a:link,
.social ul li a:visited,
.homeland_widget-get-in-touch ul li a:link,
.homeland_widget-get-in-touch ul li a:visited,
.floating-share ul li a:link,
.floating-share ul li a:visited {
    padding: 10px 0;
    width: 35px;
    text-align: center;
    display: inline-block;
    color: #C7C7D3;
    font-size: 16px;
}

.social ul li a:hover {
    background: #F2F2F2;
}

.social-colors ul li {
    border: 0;
}

    .social-colors ul li a:link,
    .social-colors ul li a:visited,
    .floating-share ul li a:link,
    .floating-share ul li a:visited {
        color: #FFF;
    }

    .social-colors ul li.twitter a,
    .floating-share ul li.twitter a {
        background: #2FC2EF;
    }

        .social-colors ul li.twitter a:hover,
        .floating-share ul li.twitter a:hover {
            background: #18b0de;
        }

    .social-colors ul li.facebook a,
    .floating-share ul li.facebook a {
        background: #3b5998;
    }

        .social-colors ul li.facebook a:hover,
        .floating-share ul li.facebook a:hover {
            background: #2e4d8d;
        }

    .social-colors ul li.youtube a {
        background: #cc181e;
    }

        .social-colors ul li.youtube a:hover {
            background: #ae0e14;
        }

    .social-colors ul li.pinterest a,
    .floating-share ul li.pinterest a {
        background: #e3262e;
    }

        .social-colors ul li.pinterest a:hover,
        .floating-share ul li.pinterest a:hover {
            background: #d3171f;
        }

    .social-colors ul li.linkedin a,
    .floating-share ul li.linkedin a {
        background: #069;
    }

        .social-colors ul li.linkedin a:hover,
        .floating-share ul li.linkedin a:hover {
            background: #0e0e86;
        }

    .social-colors ul li.dribbble a {
        background: #ea4c89;
    }

        .social-colors ul li.dribbble a:hover {
            background: #d43472;
        }

    .social-colors ul li.rss a {
        background: #FB6405;
    }

        .social-colors ul li.rss a:hover {
            background: #da5908;
        }

    .social-colors ul li.instagram a {
        background: #3f729b;
    }

        .social-colors ul li.instagram a:hover {
            background: #1c598a;
        }

    .social-colors ul li.gplus a,
    .floating-share ul li.gplus a {
        background: #dd4b39;
    }

        .social-colors ul li.gplus a:hover,
        .floating-share ul li.gplus a:hover {
            background: #bd2e1d;
        }

.call-info {
    border-left: 1px solid #E1E1E1;
    color: #777;
    position: relative;
}

    .call-info .call-us,
    .call-info a.login,.call-info div.login {
        display: inline-block;
        padding: 10px 12px;
        float: left;
        border-right: 1px solid #E1E1E1;
    }

        .call-info .call-us i,
        .call-info a.login i, .call-info div.login i {
            margin-right: 6px;
        }

        .call-info a.login:link,
        .call-info a.login:visited {
            color: #777;
            outline: none;
        }

        .call-info a.login:hover,.call-info div.login:hover {
            color: #999;
            background: #F2F2F2;
        }

    .call-info .search-icon i,
    .login {
        margin-right: 0;
    }

.header-five .call-info {
    float: left;
    margin-right: 0;
}

.header-five .social {
    float: right;
}
input.error, textarea.error {
    border: 1px solid #FF0000 !important;
}

