
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <!-- site-logo -->
            <figure id="site-logo">
                <a href="~/Home/Index"><img src="~/img/logo.png" alt="Logo" class="site-logo" style="width: 135px;
   "></a>
            </figure>
            <!-- /site-logo -->
        </div>
        <div class="col-md-7 col-sm-9">
            <!-- site-menu-content -->
            <nav id="site-nav" class="nav navbar-default">
                <ul class="nav navbar-nav site-nav">
                    <li><a class="li-header" href="~/Home/Index">Home</a></li>
                    <li>
                        <a class="li-header" href="property-listing.html">Listing</a>
                        <ul>
                            <li><a href="">List</a></li>
                            <li><a href="property-listing-with-sidebar.html">With Sidebar</a></li>
                            <li><a href="property-map-view.html">Map View</a></li>
                        </ul>
                    </li>
                    <li><a class="li-header" href="~/Project/ProjectList" id="property">Property</a></li>
                    <li><a class="li-header" href="gallery.html">Gallery</a></li>
                    <li>
                        <a class="li-header" href="">Page</a>
                        <ul>
                            <li><a href="#">Sub Menu</a></li>
                            <li>
                                <a href="#">Nested Menu</a>
                                <ul>
                                <li><a href="#">Sub Menu</a></li>
                                <li><a href="#">Sub Menu</a></li>
                                <li>
                                    <a href="#">Nested Menu</a>
                                    <ul>
                                        <li><a href="#">Sub Menu</a></li>
                                        <li><a href="#">Sub Menu</a></li>
                                        <li><a href="#">Sub Menu</a></li>
                                        <li><a href="#">Sub Menu</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Sub Menu</a></li>
                            </ul>
                            </li>
                            <li><a href="#">Sub Menu</a></li>
                            <li><a href="#">Sub Menu</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="li-header" href="#">blog</a>
                        <ul>
                            <li><a href="~/User/News" id="news">News</a></li>
                            <li><a href="blog-grid.html">Grid Style</a></li>
                            <li><a href="single.html">Single</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="li-header" href="~/Home/Contact">contact</a>
                        <ul>
                            <li><a href="contact.html">Variation One</a></li>
                            <li><a href="contact-var-two.html">Variation Two</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- /site-menu-content -->
        </div>
    </div>
</div>

