
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <!-- site-logo -->
            <figure id="site-logo">
                <a href="index.html"><img src="~/img/logo.png" alt="Logo"></a>
            </figure>
            <!-- /site-logo -->
        </div>
        <div class="col-md-6 col-sm-8">
            <!-- site-menu-content -->
            <nav id="site-nav" class="nav navbar-default">
                <ul class="nav navbar-nav">
                    <li><a href="Home/Index">Home</a></li>
                    <li>
                        <a href="property-listing.html">Listing</a>
                        <ul>
                            <li><a href="property-listing.html">Full Width</a></li>
                            <li><a href="property-listing-with-sidebar.html">With Sidebar</a></li>
                            <li><a href="property-map-view.html">Map View</a></li>
                        </ul>
                    </li>
                    <li><a href="Project/Index">Property</a></li>
                    <li><a href="gallery.html">Gallery</a></li>
                    <li>
                        <a href="">Page</a>
                        <ul>
                            <li><a href="#">Sub Menu</a></li>
                            <li>
                                <a href="#">Nested Menu</a>
                                <ul>
                                    <li><a href="#">Sub Menu</a></li>
                                    <li><a href="#">Sub Menu</a></li>
                                    <li>
                                        <a href="#">Nested Menu</a>
                                        <ul>
                                            <li><a href="#">Sub Menu</a></li>
                                            <li><a href="#">Sub Menu</a></li>
                                            <li><a href="#">Sub Menu</a></li>
                                            <li><a href="#">Sub Menu</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#">Sub Menu</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Sub Menu</a></li>
                            <li><a href="#">Sub Menu</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">blog</a>
                        <ul>
                            <li><a href="blog.html">With Sidebar</a></li>
                            <li><a href="blog-grid.html">Grid Style</a></li>
                            <li><a href="single.html">Single</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="contact.html">contact</a>
                        <ul>
                            <li><a href="contact.html">Variation One</a></li>
                            <li><a href="contact-var-two.html">Variation Two</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <!-- /site-menu-content -->
        </div>
    </div>
</div>