<div class="main-slider-wrapper clearfix">
    <!-- img-slider -->
    <div id="main-slider">
        <div class="slide"><img src="~/img/slider/1.jpg" alt="Slide"></div>
        <div class="slide"><img src="~/img/slider/2.jpg" alt="Slide"></div>
        <div class="slide"><img src="~/img/slider/3.jpg" alt="Slide"></div>
        <div class="slide"><img src="~/img/slider/4.jpg" alt="Slide"></div>
    </div>
    <!-- img-slider -->
    <!-- slider-content -->
    <div id="slider-contents">
        <div class="container text-center">
            <div class="jumbotron">
                <h1>Find Your Dream House</h1>
                <div class="contents clearfix">
                    <p>
                        If you dream of designing a new home that takes full advantage of
                        <br> the unique geography and views of land that you love
                    </p>
                </div>
                <a class="btn btn-warning btn-lg btn-3d" data-hover="Our Services" href="#" role="button">Our Services</a>
                <a class="btn btn-default btn-border btn-lg" href="#" role="button">Get a Quote</a>
            </div>
        </div>
    </div>
    <!-- silder-content -->
</div>