

<section class="header-block">
    <div class="inside clearfix">
        <div class="social floatleft">
            <ul class="clearfix" style="margin-bottom:0">
                <li class='twitter'>
                    <a href='http://twitter.com/mabuc' target='_blank'><i class='fa fa-twitter'></i></a>
                </li>
                <li class='facebook'>
                    <a href='http://facebook.com/mabuc' target='_blank'><i class='fa fa-facebook'></i></a>
                </li>
                <li class='youtube'>
                    <a href='http://youtube.com' target='_blank'><i class='fa fa-youtube'></i></a>
                </li>
                <li class='linkedin'>
                    <a href='http://linkedin.com' target='_blank'><i class='fa fa-linkedin'></i></a>
                </li>
                <li class='pinterest'>
                    <a href='http://pinterest.com/mabuc' target='_blank'><i class='fa fa-pinterest'></i></a>
                </li>
                <li class='dribbble'>
                    <a href='http://dribbble.com/mabuc' target='_blank'><i class='fa fa-dribbble'></i></a>
                </li>
                <li class='gplus'>
                    <a href='http://google.com' target='_blank'><i class='fa fa-google-plus'></i></a>
                </li>
                <li class='instagram'>
                    <a href='http://instagram.com/envato' target='_blank'><i class='fa fa-instagram'></i></a>
                </li>
                <li class='rss'>
                    <a href='http://feedburner.com' target='_blank'><i class='fa fa-rss'></i></a>
                </li>
            </ul>
        </div>
        <div class="call-info floatright clearfix">
            <a href="#" class="register login">
                <i class="fa fa-user"></i>Chào: @Session["user"]
            </a>
            <a href="@Url.Action("Logout","User")" class="login">
                <i class="fa fa-sign-out"></i>Logout
            </a>
        </div>
    </div>
</section>  