<section class="header-block clearfix">
    <div class="inside clearfix">
        <div class="social floatleft">
            <ul class="clearfix" style="margin-bottom:0">
                <li class='twitter'>
                    <a href='http://twitter.com/mabuc' target='_blank'><i class='fa fa-twitter'></i></a>
                </li>
                <li class='facebook'>
                    <a href='http://facebook.com/mabuc' target='_blank'><i class='fa fa-facebook'></i></a>
                </li>
                <li class='youtube'>
                    <a href='http://youtube.com' target='_blank'><i class='fa fa-youtube'></i></a>
                </li>
                <li class='linkedin'>
                    <a href='http://linkedin.com' target='_blank'><i class='fa fa-linkedin'></i></a>
                </li>
                <li class='pinterest'>
                    <a href='http://pinterest.com/mabuc' target='_blank'><i class='fa fa-pinterest'></i></a>
                </li>
                <li class='gplus'>
                    <a href='http://google.com' target='_blank'><i class='fa fa-google-plus'></i></a>
                </li>
                <li class='instagram'>
                    <a href='http://instagram.com/envato' target='_blank'><i class='fa fa-instagram'></i></a>
                </li>

            </ul>
        </div>
        <div class="call-info floatright clearfix">
            <span class="call-us"><i class="fa fa-phone"></i>Call us: 1-800-234-6789</span> 
            <div class="dropdown" style="display:inline-block;float:left">
                <div href="#" class="login re" data-toggle="dropdown">
                    <i class="fa fa-user"></i>@Session["user"]<span class="caret"></span>
                </div>
                <ul class="dropdown-menu">
                    <li class="dropdown-header">Account</li>
                    <li><a href="~/User/Profile">Profile</a></li>
                    <li><a href="~/User/Security">Change Password</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Action Role</li>
                    <li><a href="~/Project/MyProjects">Personal Projects</a></li>
                    <li><a href="~/Project/addProject">Add Project</a></li>
                </ul>
            </div>
            <a href="@Url.Action("Logout","User")" class="login" id="logout">
                <i class="fa fa-sign-out"></i>Logout
            </a>  
        </div>
        </div>
</section>  